<!DOCTYPE html>
<html>
    <head>  
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/describe.css') }}" />
        <title>describe</title>  
    </head>  
    <body>
    <div style="width: 100%; height: 20%; overflow: scroll;">
    
    {% for table in common['tables'] %}
                {{ table|safe }}
    {% endfor %}
    </div>
    <div style="width: 30%; height: 40%; overflow-y: scroll;">
    {% for table in common['info'] %}
                {{ table|safe }}
    {% endfor %}
    </div>
    <div style="width: 30%; overflow-x: scroll;">
    {% for table in common['description'] %}
                {{ table|safe }}
    {% endfor %}
    </div>
    <div class="container">
        <img src="{{url_for('static', filename='plot0.png')}}" class="image" alt="my plot0">
        <div class="middle">
            <div class="text">
            John Doe
            </div>
        </div>
    </div>    
    <div class="container">
        <img src="{{url_for('static', filename='plot1.png')}}" class="image" alt="my plot0">
        <div class="middle">
            <div class="text">
            John Doe
            </div>
        </div>
    </div>    
                
    </body>
    
</html>  