<!DOCTYPE html>
<html>
    <head>  
        <title>
            Analyse
        </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/describe.css') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>  
    <body>

    <div class="table table-hover tables " >
    {% for table in common['tables'] %}
                {{ table|safe }}
    {% endfor %}
    </div>

    <div class="info col-md-4 col-md-offset-3 table table-hover table-sm">
    {% for table in common['info'] %}
                {{ table|safe }}
    {% endfor %}
    </div>

    <div class="table col-md-8 col-md-offset-3 table-hover table-sm description" >
    {% for table in common['description'] %}
                {{ table|safe }}
    {% endfor %}
    </div>

    <h2 class="text-center font-italic font-weight-bold">
        Shape of data : {{ common['shape'][0] }}
    </h2>
    
    <img src="{{url_for('static', filename='plot0.png')}}" class="heatmap">

    {% for plot in plots %}
        <div class="container">
            <img src={{ plot[1] }} class="image">
            <div class="middle">
                <div class="text">
                    <b> {{ single[plot[0]][1] }} measurement </b>
                    </br>
                    Average: <b>{{ single[plot[0]][2] }}</b>                 
                    </br>
                    Expected value: <b>{{ single[plot[0]][3] }}</b>                 
                    </br>
                    Median: <b>{{ single[plot[0]][3] }}</b>                 
                    </br>
                    Mode: <b>{{ single[plot[0]][4] }}</b>                 
                    </br>
                    Standard deviation: <b>{{ single[plot[0]][4] }}</b>                 
                    </br>
                    Absolute deviaton from mean: <b>{{ single[plot[0]][5] }}</b>                 
                    </br>
                    Absolute deviaton from median: <b>{{ single[plot[0]][6] }}</b>                 
                    </br>
                    Quarter deviation: <b>{{ single[plot[0]][7] }}</b>                 
                    </br>
                    Coefficient of variation: <b>{{ single[plot[0]][8] }}</b>                 
                    </br>
                    Gini coefficient: <b>{{ single[plot[0]][9] }}</b>                 
                    </br>
                    Asymmetry factor: <b>{{ single[plot[0]][10] }}</b>                 
                    </br>
                    ANOVA max with: <b>{{ mixed[plot[0]][0][0] }}</b> F-value: <b>{{ mixed[plot[0]][0][1] }}</b>
                    </br>
                    ANOVA min with <b>{{ mixed[plot[0]][0][2] }}</b> F-value: <b>{{ mixed[plot[0]][0][3] }}</b>
                    </br>
                    Discriminant analysis factor <b>{{ mixed[plot[0]][1] }}</b>
                    </br>
                    Highest relevance with <b>{{ mixed[plot[0]][2][0] }}</b> and <b>{{ mixed[plot[0]][2][1] }}</b>
                </div>
            </div>
        </div>    
        <h2 class="text-center font-italic font-weight-bold">
            {{ single[plot[0]][0] }} column distribution
        </h2>
    {% endfor %}
                
    </body>
    
</html>  
