<html>
    <head>  
        <title>describe</title>  
    </head>  
    <body>
    <div style="width: 100%; height: 20%; overflow: scroll;">
    {% for table in tables %}
                {{ table|safe }}
    {% endfor %}
    </div>
    <div style="width: 30%; height: 40%; overflow-y: scroll;">
    {% for table in info %}
                {{ table|safe }}
    {% endfor %}
    </div>
    <div style="width: 30%; overflow-x: scroll;">
    {% for table in description %}
                {{ table|safe }}
    {% endfor %}
    </div>
    <img src="/plot.png" alt="my plot">
    </body>
    
</html>  