body {
    padding: 2vh;
    background-color: #F5F5F5 !important;
}
#h2 {
    margin: 1vh;
}
.container {
    position: relative;
    width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 80%;
  margin-left: 10%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  
  font-size: 16px;
  padding: 16px 32px;
}



.tables {
    height: 50vh;
    width: 100%;
	overflow: scroll;
	background-color: #F0FFF0;
    border: 1px solid;
	border-radius: 5px;
	border-collapse: collapse;
	background-color: white;
	color: black;
}

.tables thead { 
    position: sticky; 
    top: 0; 
    background-color: black; 
    color: white;
}

.tables th:first-child { 
    position: sticky; 
    left: 0; 
    background-color: black; 
    color: white;
}

.tables tbody th {
    position: sticky;
	left: 0px;
    background-color: black; 
    color: white;
}


	
.info {
    float: left;
	height: 35vh;
	overflow-y: scroll;
	border: 1px solid;
	margin-bottom: 1vh;
	background-color: white;
	color: black;
}

.info thead { 
    position: sticky; 
    top: 0; 
    background-color: black; 
    color: white;
}

.info th:first-child { 
    position: sticky; 
    left: 0; 
    background-color: black; 
    color: white;
}

.info tbody th {
    position: sticky;
	left: 0px;
    background-color: black; 
    color: white;
}


.description {
    float: right;
    border: 1px solid;
	height: 35vh;
	overflow-x: scroll;
	background-color: white;
	color: black;
}

.description thead { 
    position: sticky; 
    top: 0; 
    background-color: black; 
    color: white;
}

.description th:first-child { 
    position: sticky; 
    left: 0; 
    background-color: black; 
    color: white;
}

.description tbody th {
    position: sticky;
	left: 0px;
    background-color: black; 
    color: white;
}

.heatmap {
    width: 100%;
    height: 110vh;
}

b {
    font-style: italic;
}