body {
  background-color: lightblue;
  padding: 3vh;
}

#div {
    padding: 1vh;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.tables {
    height: 40vh;
    width: 100%;
	overflow: scroll;
	background-color: #F0FFF0;
    border: 1px solid;
	border-radius: 5px;
	border-collapse: collapse;
}
.tables thead { position: sticky; top: 0; background-color: black; color:white;}
.tables th:first-child { position: sticky; left: 0; }
.tables tbody th {position: sticky;
	left: 0px;}
	
.info {
    padding: 0.5vh;
    float: left;
	height: 35vh;
	overflow-y: scroll;
	border: 1px solid;
	border-radius: 3px;
	margin-bottom: 1vh;
}

.description {
    float: right;
    border: 1px solid;
	border-radius: 3px;
	height: 35vh;
	overflow-x: scroll;
}

.heatmap {
    width: 100%;
    height: 100%;
}